<DOCTYPE! html>
<html>
<header>
	<link href="/normalize.css" rel="stylesheet">
	<title>Roger Camps</title>
	<div class="picture"><img src="/assets/rogercamps.png"></div>
	<h1>Roger Camps</h1>
	<ul> <!-- with this i create the navbar -->
		<li><a href="#">About Me</a></li>
		<li><a href="#">Interests</a></li>
		<li><a href="#">Abilities</a></li>

	</ul>
</header>
<body>
	
	
	<article>
	<p>My name is Roger Camps, and this is a website that I am, desining for you to know about me and my skills.
		I am currently living in NYC but considering a move to LA if the right opportunity tcomes along, in order to achieve my goal / dream to become a developer.</p>
	</article>

		<p>I attended on 2013 to Launch Academy, a RoR bootcamp based in Boston.</p>


	<input type="email" placeholder="Your email">	
	<input type="submit">

</body>
</html>